{% extends '../../layout/_04_form.twig' %}

{# ページID設定 #}
{% set pageId = 'input' %}

<!-- ページタイトル設定 -->
{% set pageTitle = 'お問い合わせ' %}
{% set subTitle = 'Contact' %}

{# OGP関連設定
  ※descriptionを記入しなければ、「〇〇」の「〇〇」のページです。とデフォルトの文言が出力されます。
  ※ogurlはルート相対パスで「必ず」記入してください
  ※ページ毎にOGP画像を変更した場合は、ogimagepathに画像のパスをルート相対パスで入力してください。記述がなければ、デフォルトのOGP画像が表示されます。　#}
{% set description = 'お問い合わせフォームです。' %}
{% set ogurlpath = link.contact %}
{% set ogimagepath = '' %}

{# ページ個別　CSS等 #}
{% block headArea %}
  <link rel="stylesheet" type="text/css" href="{{ inc.css }}/page/form.css">
{% endblock %}

{# 使い方はここ見て　→　https://phono-manual.phonogram.jp/?p=2623 #}

{# フォームデータ管理 #}
{% set formList = [
  {
    type: 'text',
    name: 'お名前',
    required: true,
    example: '例）山田 太郎',
    inputLength: 'small',
  },
  {
    type: 'tel',
    name: '電話番号',
    required: false,
    example: '例）0123-456-789',
    inputLength: 'small',
  },
  {
    type: 'zip',
    name: '郵便番号',
    required: true,
    comment: "郵便番号を入力すると、自動的に住所が表示されます。",
  },
  {
    type: 'address',
    name: '住所',
    required: true,
    example: '',
  },
  {
    type: 'text',
    name: '建物名',
    required: false,
    example: '',
    inputLength: 'medium',
  },
  {
    type: 'mail',
    name: 'メールアドレス',
    required: true,
    inputLength: 'medium',
    example: '例）tarou@example.com',
    comment: '送信内容の控えメールを自動送信いたします。<br>携帯電話メールの方は迷惑メール設定をご確認ください。',
  },
  {
    type: 'textarea',
    name: 'お問い合わせ内容',
    required: true,
    comment: '',
  },
] %}


{# コンテンツをここに記載(div#main) #}
{% block contents %}

<div class="l-section">

  {# お問い合わせボックス #}
  {# <div class="l-section__inner c-contact" data-pfwform-hide-if-confirm>
    <div class="c-contact__inner">
      <div class="grid grid-center grid-middle">
        <div class="col-5_md-6_xs-12">
          <h3 class="c-contact__title">電話でのお問い合わせ</h3>
          <strong class="c-contact__tel">000-0000-0000</strong>
          <small class="c-contact__term">平日(X曜-X曜) AMXX:XX～PMXX:XX</small>
        </div>
        <div class="col-5_md-6_xs-12">
          <p class="c-contact__fax">FAX : 000-0000-0000</p>
          <p class="c-contact__mail">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href="mailto:xxxxxx@xxxxxx.com">xxxxxx@xxxxxx.com</a>
          </p>
        </div>
      </div>
    </div>
  </div> #}
  {# お問い合わせボックス #}

  {# STEP #}
  <section class="c-step" data-pfwform-hide-if-confirm>
    <h2 class="c-step__title">お問い合わせ内容をご入力ください。</h2>
    <ul class="c-step__list">
      <li class="c-step__item is-active">内容の入力</li>
      <li class="c-step__item">入力内容の確認</li>
      <li class="c-step__item">送信完了</li>
    </ul>
  </section>

  <section class="c-step" data-pfwform-show-if-confirm>
    <h2 class="c-step__title">入力内容をご確認ください。</h2>
    <ul class="c-step__list">
      <li class="c-step__item">内容の入力</li>
      <li class="c-step__item is-active">入力内容の確認</li>
      <li class="c-step__item">送信完了</li>
    </ul>
  </section>
  {# STEP #}

  {# エラー文 #}
  <div class="error" data-pfwform-show-if-error>
    <p>入力不備の項目がございます。<br>お手数ですが、もう一度入力内容をご確認ください。</p>
  </div>
  {# エラー文 #}

  <form class="pfwform h-adr" action="#" method="post" data-pfwform-confirm>

    <table class="c-formTbl">
      <tbody>

      {% for item in formList %}

        {# テキストの場合 #}
        {% if item.type == 'text' %}
        <tr data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="txt {{ item.inputLength }}">
                  <input type="text" name="{{ item.name }}" value=""{% if item.required %} data-pfwform-required{% endif %}>
                </div>
                {% if item.example |length > 0 %}
                <p class="c-example">{{ item.example }}</p>
                {% endif %}
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# テキストの場合 #}

        {# ラジオボタンの場合 #}
        {% if item.type == 'radio' %}
        <tr data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="txt">
                  <ul class="c-inputList c-inputList--box">
                    {% for value in item.clickItem %}
                    <li>
                      <input type="radio" name="{{ item.name }}" value="{{ value.label }}" class="form-check-input" id="{{ value.id }}"{% if item.required %} data-pfwform-required{% endif %}>
                      <label for="{{ value.id }}" class="form-check-label form-check-inline">{{ value.label }}</label>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# ラジオボタンの場合 #}

        {# チェックボックスの場合 #}
        {% if item.type == 'checkbox' %}
        <tr data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="txt">
                  <ul class="c-inputList c-inputList--box">
                    {% for value in item.clickItem %}
                    <li>
                      <input type="checkbox" name="{{ item.name }}[]" value="{{ value.label }}" class="form-check-input" id="{{ value.id }}"{% if item.required %} data-pfwform-required{% endif %}>
                      <label for="{{ value.id }}" class="form-check-label form-check-inline">{{ value.label }}</label>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# チェックボックスの場合 #}

        {# 電話番号の場合 #}
        {% if item.type == 'tel' %}
        <tr data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="txt {{ item.inputLength }}">
                  <input type="tel" name="{{ item.name }}" value=""{% if item.required %} data-pfwform-required{% endif %}>
                </div>
                {% if item.example |length > 0 %}
                <p class="c-example">{{ item.example }}</p>
                {% endif %}
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# 電話番号の場合 #}

        {# 郵便番号の場合 #}
        {% if item.type == 'zip' %}
        <tr data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input c-formTbl__input--zip">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="c-formTbl__input-inner">
                  <div class="c-formTbl__input-ico">&#12306;</div>
                  <div class="txt small">
                    <input type="text" class="form-control p-postal-code" name="{{ item.name }}" size="8" maxlength="8"{% if item.required %} data-pfwform-required{% endif %} data-pfwform-class-if-success="has_success" data-pfwform-class-if-error="form-control-danger">
                  </div>
                </div>
                {% if item.comment |length > 0 %}
                <p class="c-formComment">{{ item.comment }}</p>
                {% endif %}
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt">&#12306;<span data-pfwform-confirm-value="{{ item.name }}"></span></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# 郵便番号の場合 #}

        {# 住所の場合 #}
        {% if item.type == 'address' %}
        <tr data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="c-inputName__block">
                  {# <p class="c-inputName">住所</p> #}
                  <div class="txt medium">
                    <input type="text" class="form-control p-region p-locality p-street-address p-extended-address" name="{{ item.name }}"{% if item.required %} data-pfwform-required{% endif %} data-pfwform-class-if-success="has_success" data-pfwform-class-if-error="form-control-danger">
                  </div>
                  {% if item.example |length > 0 %}
                  <p class="c-example">{{ item.example }}</p>
                  {% endif %}
                </div>
                {# <div class="c-inputName__block">
                  <p class="c-inputName">建物名</p>
                  <div class="txt medium">
                    <input type="text" class="" name="建物名">
                  </div>
                </div> #}
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
              <p class="c-confirmTxt" data-pfwform-confirm-value="建物名"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# 住所の場合 #}

        {# メールアドレスの場合 #}
        {% if item.type == 'mail' %}
        <tr class="form_wrap" data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="txt {{ item.inputLength }}">
                  <input class="" type="email" name="{{ item.name }}" value="" data-pfwform-type="email" autocomplete="on"{% if item.required %} data-pfwform-required{% endif %}>
                </div>
                {% if item.example |length > 0 %}
                <p class="c-example">{{ item.example }}</p>
                {% endif %}
                {% if item.comment |length > 0 %}
                <p class="c-formComment">{{ item.comment }}</p>
                {% endif %}
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# メールアドレスの場合 #}

        {# セレクトの場合 #}
        {% if item.type == 'select' %}
        <tr data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <select class="" name="{{ item.name }}"{% if item.required %} data-pfwform-required{% endif %}>
                <option value="" selected="selected">選択してください</option>
                {% for value in item.selectItem %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul><li>{{ item.name }}を正しく入力してください。</li></ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# セレクトの場合 #}

        {# テキストエリアの場合 #}
        {% if item.type == 'textarea' %}
        <tr class="form_wrap" data-pfwform-class-if-error="form_error" data-pfwform-target="{{ item.name }}">
          <th class="c-formTbl__head">
            <div class="c-formTbl__title">
              {{ item.name }}
              {% if item.required %}
              <span class="ico must" data-pfwform-hide-if-confirm>必須</span>
              {% else %}
              <span class="ico optional" data-pfwform-hide-if-confirm>任意</span>
              {% endif %}
            </div>
          </th>
          <td class="c-formTbl__input">
            <div class="form_group_wrap" data-pfwform-hide-if-confirm>
              <div class="form_group_inner">
                <div class="txt">
                  <textarea name="{{ item.name }}" cols="40" rows="10" class="type_box"{% if item.required %} data-pfwform-required{% endif %}></textarea>
                </div>
                {% if item.comment |length > 0 %}
                <p class="c-formComment">{{ item.comment }}</p>
                {% endif %}
              </div>
              <div class="form_error_wrap" data-pfwform-show-if-error="{{ item.name }}">
                <div class="form_error_inner">
                  <i class="fa fa-exclamation-triangle"></i>
                  <ul>
                    <li>{{ item.name }}を正しく入力してください。</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form_group_wrap" data-pfwform-show-if-confirm>
              <p class="c-confirmTxt" data-pfwform-confirm-value="{{ item.name }}"></p>
            </div>
          </td>
        </tr>
        {% endif %}
        {# テキストエリアの場合 #}

      {% endfor %}

      </tbody>
    </table>


    {# プライバシーポリシー #}
    <div class="c-privacy">
      {% include '../../include/_privacy.twig' %}
    </div>
    {# プライバシーポリシー #}


    {# 確認・送信ボタン #}
    <div class="l-btnArea">
      <div class="agree" data-pfwform-class-if-error="form_error" data-pfwform-target="個人情報の取扱い" data-pfwform-hide-if-confirm>
        <fieldset>
          <input type="checkbox" name="個人情報の取扱い" value="同意する" id="agree" data-pfwform-required>
          <label class="" for="agree">個人情報の取扱いに同意します。<span class="ico must">必須</span></label>
          <div class="form_error_wrap" data-pfwform-show-if-error="個人情報の取扱い">
            <div class="form_error_inner">
              <i class="fa fa-exclamation-triangle"></i>
              <ul>
                <li>上記内容に同意いただけない場合、送信できません。</li>
              </ul>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="l-btnArea__check">
        <button class="c-formBtn c-formBtn--check button button_step btn_form" type="submit" data-pfwform-hide-if-confirm>入力内容の確認へ</button>
      </div>
      <div class="l-btnArea__confirm" data-pfwform-show-if-confirm>
        <button class="c-formBtn c-formBtn--prev" type="button" data-pfwform-back-button>前に戻る</button>
        <button class="c-formBtn c-formBtn--submit" type="submit">上記内容で送信</button>
      </div>
    </div>
    {# 確認・送信ボタン #}
  </form>
</div>
{% endblock %}

{# ページ個別　JS等 #}
{% block jsArea %}
  <script type="text/javascript" src="{{ inc.js }}/page/form/pfwform.min.js"></script>
{% endblock %}