<ul class="parts_link">
  <li><a href="{{ link.parts}}/common.html">基本パーツ集</a></li>
  <li><a href="{{ link.parts}}/layout.html">レイアウトサンプル</a></li>
  <li><a href="{{ link.parts}}/client.html">クライアント用パーツ</a></li>
  <li><a href="{{ link.parts}}/twig_syntax.html">Twig構文</a></li>
  <li><a href="{{ link.parts}}/product-list.html">製品一覧テンプレ</a></li>
</ul>